@{
    ViewBag.Title = "Documentação";
}
<h1>@ViewBag.Title</h1><hr />

<h3>Aqui você pode realizar o download dos arquivos com a documentação do projeto</h3>
<h4>Parte escrita</h4>
<ul>
    <li><a href="#">Parte escrita (pdf - 66kb)</a></li>
    <li><a href="#">Diagrama de casos de uso (pdf - 66kb)</a></li>
    <li><a href="#">Diagrama de classes (pdf - 66kb)</a></li>
</ul>
<h4>Código fonte</h4>
<ul>
    <li><a href="#">Projeto no Github</a></li>
    <li><a href="#">Arquivo compactado (zip, 66mb)</a></li>
</ul>
<h4>Apresentação</h4>
<ul>
    <li>@Html.ActionLink("Apresentação Online", "Apresentacao", "Home")</li>
</ul>
