@using Frete4U.Models
@{
    ViewBag.Title = "Página Inicial";
}
<div class="jumbotron">
    <h1>Encontrar um frete nunca foi tão fácil.</h1>
    <p class="lead">
        O Frete4U é o ponto de encontro entre clientes e pequenas empresas de transporte.<br />
        Seja uma mudança ou a entrega de um documento, aqui
        você encontra de maneira rápida o serviço ideal para sua necessidade.
    </p>
</div>
<div>
    <img src="~/Content/images/indeximage.jpg" class="img-responsive" style="margin: 0 auto" />
</div>
<div class="row descindex" style="float: none">
    <div class="col-md-6">
        <p>
            Está procurando alguém para realizar sua entrega?
            Através dos endereços de origem e destino, você pode
            listar empresas e profissionais autônomos
            que atendam a sua demanda, podendo refinar ainda mais
            sua pesquisa ao informar o tipo de entrega, veículo
            necessário, dimensões, peso e outros detalhes.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Para você que é motoboy, tem um caminhão ou faz fretes
            em qualquer outro veículo, o Frete4U oferece uma
            maneira simples e rápida de divulgar seus serviços através
            da internet. Após se cadastrar, seu contato será encontrado
            por clientes que precisam dos serviços que você
            oferece, ampliando suas oportunidades de negócios.
        </p>
    </div>
</div>
<div class="facaoteste">
    <h1>Faça o teste!</h1>
    <p>Comece agora mesmo e descubra profissionais que atendam a sua área!</p>
    <section id="buscaEndereco">
        @using (Html.BeginForm("Index", "Buscar", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-inline form">
                <select id="CidadeOrigem" name="CidadeOrigem" class="form-control">
                    @foreach (var item in ((List<tb_cd_cidades>)ViewBag.ListaCidades))
                    {
                        <option value="@item.nom_cidade">@item.nom_cidade</option>
                    }
                </select>
                <select id="CidadeDestino" name="CidadeDestino" class="form-control">
                    @foreach (var item in ((List<tb_cd_cidades>)ViewBag.ListaCidades))
                    {
                        <option value="@item.nom_cidade">@item.nom_cidade</option>
                    }
                </select>                <input type="submit" value="Buscar" class="btn btn-default btn-lg semborda" />
            </div>
        }
    </section>
</div>
