@{
    ViewBag.Title = "Sobre o Grupo";
}
<h1>@ViewBag.Title</h1><hr />
<div class="container" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div style="text-align:center;margin-top:20px">
                    <img src="https://scontent-gru.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10155949_801954806508650_8144527257604801187_n.jpg?oh=24742a5980c7316428824558dcffbd23&oe=55D08A34" width="150" height="150" class="img-circle"><br />
                    <h4>Renan Ramos</h4>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div style="text-align:center;margin-top:20px">
                    <img src="https://scontent-gru.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11179956_825329007537393_8650794520014489987_n.jpg?oh=e3afe07c8ef593b61ddceea62cd58e9f&oe=55E36F06" width="150" height="150" class="img-circle"><br />
                    <h4>Gabriel Librelon</h4>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div style="text-align:center;margin-top:20px">
                    <img src="https://scontent-gru.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/p720x720/11071673_800756096667310_3902325031263877010_n.jpg?oh=ccd14dcc067053cee1e0a00073ddb159&oe=55CDEEC0" width="150" height="150" class="img-circle"><br />
                    <h4>Amanda Peron</h4>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div style="text-align:center;margin-top:20px">
                    <img src="https://scontent-gru.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/p180x540/579776_451570184854409_334825231_n.jpg?oh=3342b9c4a17130a99f424959b11ff099&oe=55DC98C2" width="150" height="150" class="img-circle"><br />
                    <h4>Miquéias M. Sousa</h4>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div style="text-align:center;margin-top:20px">
                    <img src="http://s2.glbimg.com/VYiom6Mt34qokgHX4xJkljOgIKg=/s.glbimg.com/jo/g1/f/original/2013/09/24/suspeito_1.jpg" width="150" height="150" class="img-circle"><br />
                    <h4>João Vitor</h4>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div style="text-align:center;margin-top:20px">
                    <img src="https://scontent-gru.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11174837_771468639635916_5662352239259853073_n.jpg?oh=e035dac24aaa9442406c96b606f6c7dd&oe=55DBDCC3" width="150" height="150" class="img-circle"><br />
                    <h4>Larissa Greco</h4>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div style="text-align:center;margin-top:20px">
                    <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10422160_316907028520511_205181112057363321_n.jpg?oh=9a1a488398defd23654f6211e8c7207d&oe=55C64265&__gda__=1440585816_a6285b39d402aaa507c2208d561d3103" width="150" height="150" class="img-circle"><br />
                    <h4>Lucas Mendoza</h4>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div style="text-align:center;margin-top:20px">
                    <img src="https://scontent-gru.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/247904_215670545121196_3774705_n.jpg?oh=b7be6e09f1fb7823a42f02bd3ece42ee&oe=55D3835C" width="150" height="150" class="img-circle"><br />
                    <h4>Samyr Emanuel</h4>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                </div>
            </div>
        </div>
    </div>
</div>


